#idea files
.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/out/

# java
*.class
*.jar
*.war
*.ear

#gradle
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# common
*~
*.bak
.DS_Store
.DS_Store?
._*
